html {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 0 auto;
}

body {
  background-color: lightgray;
}

h1, h2, h3, h4 {
  text-align: center;
}


p {
  text-align: justify;
  margin: 0 10%;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: royalblue;
  border-radius: .5em;
  position: sticky;
  top: .25em;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: navy;
}

.projectList {
  margin: 0 10%;
}

.skills {
  margin: 0 10%;
}

.skills li {
  list-style-type: square;
}
