.header {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2em;
   margin: 5em 0 0;
   padding: 0;
}

.portrait {
   border-radius: 6.5em;
}

.title {
   font-size: 2em;
   font-weight: bold;
}

.titles {
   margin: 0 ;
   padding: 0;
}

.subtitle {
   font-size: 1.5em;
   font-weight: bold;
}