/* 
Primary Color: #1E90FF
Secondary Color: #0A74DA
Accent Color: 87CEFA
Neutral Color: #FFF (BACKGROUND)
Neutral Color: #F5F5F5 (SUBTLE BACKGROUNDS)
Text Color: #333
Highlight Color: #008080
 */

body {
  background-color: #fff;
  color: #333;
}

nav li {
  display: inline;
  list-style-type: none;
}

#soft-skills li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

#projects {
  display: grid;
  grid-template-columns: 1fr / 1fr / 1fr;
  gap: 8px;
  justify-content: center;
  
}

.large-box {
  background-color: #0a74da;
  height: 350px;
  width: 350px;
  border-radius: 3px;
}

.large-box h4 {
  text-align: center;
}

.small-box {
  background-color: #0a74da;
  height: 275px;
  width: 275px;
  border-radius: 3px;
}

.small-box h4 {
  text-align: center;
}

#crater {
    grid-column: 1;
    grid-row: 1;
}

#side {
    grid-column: 2;
    grid-row: 1;
}

#car {
    grid-column: 3;
    grid-row: 1
}